<h1>
    Welcome {{ user.username}}
</h1>
{{#each allMoviesList}}
   <h3>{{this.Title}}</h3> 
    <img src="{{this.Image}}" alt="">
    <a href="/profile/edit/{{this._id}}">Edit</a>
{{/each}}
<form action="/logout" method="post">
<button type="submit">Logout</button>
</form>
